@mixin piecewise($prop, $smallSize, $largeSize, $pxMin, $pxMax, $i:null) {
  @if (length($smallSize) != length($largeSize)) {
    @error 'Property values must have the same number of arguments.';
  }
  $smWidth: pixelize($pxMin);
  $lgWidth: pixelize($pxMax);
  @media (min-width: $lgWidth) {
    #{$prop}: pixelize($largeSize) $i;
  }
  @media (min-width: $smWidth) and (max-width: $lgWidth) {
    #{$prop}: getCalc($smallSize, $largeSize, $pxMin, $pxMax) $i;
  }
  @media (max-width: $smWidth) {
    #{$prop}: pixelize($smallSize) $i;
  }
}

@function getCalc($smallSize, $largeSize, $pxMin, $pxMax) {
  @if (length($smallSize) != length($largeSize)) {
    @error 'Property values must have the same number of arguments.';
  }
  $calcsList: ();
  @for $i from 1 through length($smallSize) {
    @if nth($smallSize, $i) != nth($largeSize, $i) {
      $calcsList: append(
        $calcsList,
        calc(
          #{pixelize(nth($smallSize, $i))} + (100vw - #{pixelize($pxMin)})/#{(
              $pxMax - $pxMin
            )/(nth($largeSize, $i) - nth($smallSize, $i))}
        )
      );
    } @else {
      $calcsList: append($calcsList, pixelize(nth($smallSize, $i)));
    }
  }
  @return $calcsList;
}

@function pixelize($list) {
  $newList: ();
  @for $i from 1 through length($list) {
    $newList: append($newList, stripUnit(nth($list, $i)) * 1px);
  }
  @return $newList;
}

@function stripUnit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
